*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("background.avif");
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;    
    min-height: 100vh;              
}

nav{
    background:#2874f0;
    padding:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 10px;
    font-size:14px;
}

nav a:hover{
    text-decoration:underline;
}

.container{
    padding:20px;
}

.banner{
    background: rgba(255,255,255,0.5);
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:320px;
    margin:80px auto;
}


.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.card{
    background: rgba(255,255,255,0.8);
    padding:15px;
    border-radius:5px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:180px;
    object-fit:contain;
    transition:0.4s;
}

.card img:hover{
    transform:scale(1.1);
}

.price{
    color:green;
    font-weight:bold;
}

.discount{
    background:red;
    color:white;
    font-size:12px;
    padding:3px 6px;
    display:inline-block;
    margin:5px 0;
}

.signup-box{
    width:360px;
    margin:80px auto;
    background: rgba(255,255,255,0.25);
    padding:30px;
    border-radius:12px;
    text-align:center;
}
.signup-box input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:none;
    border-radius:6px;
    outline:none;
}

.signup-box a{
    color:#2874f0;
    text-decoration:none;
}

.signup-box a:hover{
    text-decoration:underline;
}


button{
    margin-top:10px;
    padding:8px 12px;
    border:none;
    background:#2874f0;
    color:white;
    border-radius:4px;
    cursor:pointer;
}

button:hover{
    background:#0b5ed7;
}

footer{
    text-align:center;
    padding:15px;
    background:#222;
    color:white;
    margin-top:30px;
}
